:root{
  --body-bg:rgb(209, 232, 241);

  --chatApp-bg:radial-gradient(circle, rgba(227,227,233,1) 3%, rgba(226,226,236,0.7511205165660014) 48%, rgba(183,223,231,1) 100%);
  --border: 1px solid #738276;
  --boo-msg:#e2b7d2;
  --anonym-msg:#9ca1eb;
}
html{
  box-sizing: border-box;
  background: var(--body-bg);
  font-size: 100%;
}
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family:'Poppins', sans-serif; ;
}
/*@media (min-width: 640px) { body
   {font-size:1rem;
    align-items: center;}
   }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }*/
/*------App Body----*/
.chatApp{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  height: calc(100% - 50px);
  margin: 20px 10px;
  border: var(--border);
  border-radius: 20px;
  background: var(--chatApp-bg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
/*-----Header-----*/

.chat-head{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: var(--border);
  background: rgb(53, 53, 58);
  color:white;
  border-radius: 15px;
  box-shadow: inherit;

}
/*-----Main Body-----*/
.main-body {
flex: 1;
overflow-y: auto;
padding: 10px;
}
.main-body::-webkit-scrollbar{
width: 15px;
}
.main-body::-webkit-scrollbar-track{
  background: rgb(0, 202, 252);

}
.main-body::-webkit-scrollbar-thumb{
  background: rgb(87, 138, 231);
}
.main-body::-webkit-scrollbar-thumb:hover{
  background: blue;
}
/*-----Post Bubble------*/

.post {
   display:flex;
   flex-direction:column;
   padding: 10px;
   border-radius: 20px;

}

.user-post{
 display: block;
 flex-direction: row-reverse;
 border-bottom-right-radius: 0;
 margin:5px 2px 5px 2px;
 width: 50%;
 background: var(--anonym-msg);



}
.boo-post {
display: flex;
border-bottom-left-radius: 0;
width: 50%;
margin:5px 2px 5px 2px;
background: var(--boo-msg);

}

.datetime {
  display: block;

}

.chat-name{
  font-weight: bold;
  margin-right: 2px;
}

/*---Chat Input Area----*/
.input-Box{
display:flex;
align-items: center;
padding: 5px;
margin-bottom: 0;
border: darkslateblue;
}
.inputmsg{
float: left;
padding:5px;
width: 85%;
background: floralwhite;
height: 50px;
border-style:groove;
border-radius: 12px;
margin-left: 0;

}
/*-------Button-----*/

.btn{

  background: darkslateblue;
  color: floralwhite;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  float: right;
  font-size:15px;
  font-weight: bold;
  margin:10px;

}
.btn:hover{
  background: blue;
}
